.carousel01{
    top: 18.65rem;
    font-size: 20px;
}
.carousel01 h5{
    font-size: 30px;
}

.card_progres header {
    padding: 10px 30px;
    text-align: center;
    background-color: antiquewhite;
}


footer{
    margin-top: 30px;
text-align: center;
padding: 10px 0;
background-color: rgb(38, 41, 41);
color: white;
}
footer p{
    margin-top: 15px;
}